#add for board init.rc for recovery mode
import /init.recovery.common.rc

on fs
 
    start prepdecrypt 

#Fix Decryption
service prepdecrypt /system/bin/prepdecrypt.sh
oneshot
disabled
user root
group root
seclabel u:r:recovery:s0


service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymint-1-0 /system/bin/android.hardware.security.keymint@1.0-unisoc.service
    class early_hal
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service.trusty
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
    

  

on boot
#start keymint-1-0
#start gatekeeper-1-0
    start health-hal-2-1
       